html {
font-size: 13px;
}

body {
height: 100%;
background-color: #c8c5af;
font-family: 'Oswald', sans-serif;;
font-size: 1.6rem;
line-height: 1;
text-align: center;
color: #514c43;
margin: 500;
}

img{
  align-items:center;
}

div {
border:8px solid black;
border-style: double;
border-spacing: 20px;
}

h1{
color: #cac9c6;
opacity: 0.8;
background-color: #403c35;
}

h3 {
font-style: italic;
}

p {
  max-width: 1300px;
  margin: 20px auto;
  text-align: left;
  line-height: 1.6;
}

ul {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}
